<!DOCTYPE html>
<html>
<head>
    <title>Print Selected</title>
    <style>
        /* Добавьте необходимые стили для печати */
        @media print {
            /* Скрыть элементы, которые не нужны при печати */
            .no-print { display: none; }
        }
    </style>
</head>
<body>
    <h1>Selected Problems</h1>
    
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Request Date</th>
                <th>Problem Name</th>
                <th>Status</th>
                <th>Finish Date</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                <td>{{ obj.user }}</td>
                <td>{{ obj.request_from_date }}</td>
                <td>{{ obj.name_of_problem }}</td>
                <td>{{ obj.status }}</td>
                <td>{{ obj.date_of_finish }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button class="no-print" onclick="window.print()">Print</button>
</body>
</html>
